<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
	    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<title>NEWX大学生网络文化工作室成员报名表</title>
		<link rel="shortcut icon" href="__PUBLIC__/admin/images/newx.ico" /> 
	</head>
	<body>
		<volist name='list' id='vo'>
      	<div class="table-responsive">
      	
		
		<div align="center">
		<table class="table  table-bordered table-condensed table-responsive">
			
				<h3><center>NEWX大学生网络文化工作室成员报名表</center></h3>
			<tr >
				<td >序号</td>
				<td ><{$vo.id}></td>
				<td >姓名</td>
				<td ><{$vo.name}></td>
				<td >性别</td>
				<td ><{$vo.sex}></td>
				<td rowspan="4" > 照片</td>
			</tr>
			<tr >
				<td>出生年月</td>
				<td colspan="2"><{$vo.birth}></td>
				<td>联系方式</td>
				<td colspan="2"><{$vo.phone}></td>
			</tr>
			<tr >
				<td>所在院系</td>
				<td colspan="2"><{$vo.Adepartment}></td>
				<td>班级</td>
				<td colspan="2"><{$vo.class}></td>
			</tr>
			<tr >
				<td>个人学号</td>
				<td colspan="2"><{$vo.uid}></td>
				<td>所在寝室</td>
				<td colspan="2"><{$vo.dormitory}></td>
			</tr>
			<tr >
				<td>电子邮箱</td>
				<td colspan="4"><{$vo.email}></td>
				<td>是否服从调剂</td>
				<td><{$vo.adjust}></td>
			</tr>
			<tr >
				<td>第一志愿</td>
				<td colspan="3"><{$vo.department1}></td>
					
				<td>第二志愿</td>
				<td colspan="2"><{$vo.department2}></td>
				
		
			</tr>
			<tr>
				<td >个人简介</td>
				<td colspan="6"><{$vo.profile}></td>
			</tr>
			<tr>
				<td >特长及经历</td>
				<td colspan="6"><{$vo.advantages}></td>
			</tr>
			<tr>
				<td >对意向岗位的认识和看法</td>
				<td colspan="6"><{$vo.view}></td>
			</tr>
			<tr>
				<td >面试考核意见</td>
				<td colspan="6"></td>
			</tr>
			<tr>
				<td >备注</td>
				<td colspan="6"></td>
			</tr>
		
			</volist>
		</table>
	
		
		</div> 
		<!--<center>
		<div class="result page" >
		    <ul >
		      <{$page}>
		    </ul>
		</div>
		</center>
-->
	</body>
</html>