

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>轮播图管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__LAYUIADMIN__/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__LAYUIADMIN__/style/admin.css" media="all">
  <style>
    .layui-table-cell{
      height: auto!important;
    }
    .layui-table img {
      width: 60px;
      height: 60px;
    }
  </style>
</head>
<body>

  <div class="layui-fluid">   
    <div class="layui-card">
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-admin"  id="pic">添加</button>
        </div>
        
        <table id="LAY-carousel-list" lay-filter="LAY-carousel-list"></table>
       
        <script type="text/html" id="urlTpl">
          <img src="{{d.url}}" alt="">
        </script>
        <script type="text/html" id="table-useradmin-webuser">
          <a class="layui-btn layui-btn-normal layui-btn-xs" href="{{d.url}}" target="_blank"><i
                  class="layui-icon layui-icon-edit"></i>查看</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs " lay-event="del"><i
                  class="layui-icon layui-icon-delete "></i>删除</a>
        </script>
      </div>
    </div>
  </div>

 <script src="__LAYUIADMIN__/layui/layui.js"></script>
  <script>
  layui.config({
    base: '__LAYUIADMIN__/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index','table', 'croppers'], function(){
    var $ = layui.$
    ,form = layui.form
    ,croppers = layui.croppers
    ,table = layui.table;

    //轮播图列表
    table.render({
      elem: '#LAY-carousel-list'
      ,url: 'http://localhost/newxadmin/public/index.php/admin/carousel/carouseldata'
      ,cols: [[
        {field: 'id', width: 110, title: 'id', sort: true}
        ,{field: 'url', title: '图片', templet: '#urlTpl', align: 'center'}
        ,{title: '操作', width: 150, align: 'center', fixed: 'right', toolbar: '#table-useradmin-webuser'}
      ]]
      ,text: {
        none: '暂无相关数据' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
      }
    });


    //监听工具条
    table.on('tool(LAY-carousel-list)', function(obj){
      var data = obj.data;
      if(obj.event === 'del'){
        layer.confirm('确定删除吗？', function(index) {
          $.ajax({
            url:'http://localhost/newxadmin/public/index.php/admin/carousel/delcarousel?id=' + data.id  ,
            method:"GET",
            success:function (res) {
              table.reload('LAY-carousel-list'); //数据刷新
              layer.msg('已删除');
            }
          });
        });
      }
    });
      croppers.render({
        elem: '#pic',
        saveW: 150 //保存宽度
        ,
        saveH: 150,
        mark: 200/ 150
        ,
        area: '900px' //弹窗宽度
        ,
        url: "{:url('carousel/upload')}" //图片上传接口返回和（layui 的upload 模块）返回的JOSN一样
        ,
        done: function(res) { //上传完毕回调
          table.reload('LAY-carousel-list'); //数据刷新
        }
      });
  });
  </script>

</body>
</html>

