<!-- Sidebar Menu -->
<ul class="nav sidebar-menu">
	<!--Dashboard-->

	{volist name ="itemRes" id="vo"}
	<li>

		{if condition="$vo.level eq 0"}
		<a href="#" class="menu-dropdown">
			<i class="menu-icon 
				{switch $vo.id}
    				{case 8 }fa fa-user{/case}
    				{case 13}fa fa-vcard{/case}
    				{default /}默认情况
				{/switch}
				"></i>
			<span class="menu-text">{$vo.title}</span>
			<i class="menu-expand"></i>
		</a>
		

		<ul class="submenu">
			{foreach $itemRes as $k=>$vo1 }
			{if condition="$vo1.pid eq $vo.id"}
			<li>
				<a href="{:url($vo1.name)}">
					<span class="menu-text">{$vo1.title}</span>
					<i class="menu-expand"></i>
				</a>
			</li>
			{/if}
			{/foreach}
		</ul>

		
	</li>
	{/if} {/volist}

</ul>
<!-- /Sidebar Menu -->
</div>